extends layout

block content
	h1 Hi, #{user.username}
	a(href="/createAlbum") New Album
	h3 Albums:
	ul
		each album in albums
			li(id="#{album._id}")
			a(href="albums/#{album._id}") #{album.albumname}
	button(type="submit") logout
