extends layout

block content
	h1(style="color:blue") Hi, #{user.username}
	a(href="/createAlbum") New Album
	h3(style="color:violet") Albums:
	ul
		each album in albums
			li(id="#{album._id}")
			a(href="albums/#{album._id}") #{album.albumname}
	a(href="logout") logout