extends layout

block content
	form
		input(type="text" name="username" placeholder="Username")
		input(type="password" name="password" placeholder="Password")
		button(type="submit") Login
	a(href="/register") Register