extends layout

block content
	form
		input(type="text" name="username" placeholder="Username")
		input(type="password" name="password" placeholder="Password")
		input(type="password" name="confirmPassword" placeholder="confirm password")
		button(type="submit") Register